<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder charset="UTF-8">
			<pattern>%d{yyyy/MM/dd HH:mm:ss} | %t | %level | %logger | %msg%n</pattern>
		</encoder>
	</appender>
	
	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>

	<!-- 配置文件中的Logger将在程序启动时即初始化，additivity属性控制Appender是否叠加使用，false表示仅向当前Appender输出 -->
	<logger name="com.zlikun.log" level="DEBUG" additivity="true" />

	<!-- 测试Logger继承关系 -->
	<logger name="x" level="INFO" />
	<logger name="x.y" level="DEBUG" />
	<logger name="x.y.z" level="WARN" />

</configuration>