<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<contextName>zlikun-log</contextName>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<!--https://logback.qos.ch/manual/layouts.html#logback-access-->
			<!--https://logback.qos.ch/access.html#configuration-->
			<pattern>
				%h %l %u [%t] "%r" %s %b "%i{User-Agent}"
			</pattern>
		</encoder>
	</appender>

	<root level="WARN">
		<appender-ref ref="STDOUT" />
	</root>

	<logger name="com.zlikun.log.AccessLogViewMain" level="DEBUG" additivity="false">

	<logger name="org.eclipse.jetty" level="OFF" additivity="false">

	<shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook" />

</configuration>